.email{
    background-color: #072227;
    padding-top: 50px;
    padding-bottom: 50px;
}
.bar{
    background-color: #35858B;
    border-radius: 30px;
    max-width: 90%;
    align-items: center;
    justify-content: center;
    display: block;
    margin: auto;
}
.img-email{
    max-width: 300px;
    width: 70%;
    display: block;
    margin: auto;
    padding: 20px;

}
.bar h1{
    text-align: start;
    font-weight: 700;
}
.teks-email{
    margin-left: 30px;
    padding-top: 20px;
    margin-bottom: 20px;
    color: #f2f2f2;
}
.button-email{
    background-color: #135D6B;
    position: relative;
    border-radius: 5px;
    color: #f2f2f2;
    letter-spacing: 0.2em;
    font-weight: 700;
}
.button-email:hover{
    background-color: #fff;
    color: #135D6B;
}