
.home{
    background-color:#072227 ;
}
img.me{
    width: 90%;
    position: relative;
    align-items: center;
    margin-left: 18%;
    margin-right: auto;
    top: 50px;
    vertical-align: auto;
    padding-bottom: auto;
    
}
.imgpos{
    height: 100%;
    padding-bottom: 50px;
}
#dev{
    align-items: center;
    justify-content: center;
    padding-top: 120px;
    position: relative;
    bottom: 90px;
}
.judulkecil{
    color: #35858B;
    position: relative;
}
h1.judulbesar{
    font-size: 60px;
    font-weight: 700;
    color: #f2f2f2;
    position: relative;
}
p.teks{
    position: relative;
    color: #f2f2f2;
    width: auto;
}
.button{
    position: relative;
    background: #35858B;
    border-radius: 5px;
    color: #f2f2f2;
    letter-spacing: 0.2em;
    font-weight: 700;
}
.button:hover{
    background-color: #fff;
    color: #35858B;
}
.mini{
    display: flex;
    flex-direction: column;
    margin-top: 150px;
    position: absolute;
    margin-left: 20px;
}
.mini a{
    margin-top: 10px;
}
