.bg-custom{
    background-color: #072227 !important;
}
.menu{
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
}
.nav{
    width: auto;
    height: 58px;
    padding-top: 30px;
}
.logo{
    width: 145px;
    height: auto;
}
.list:hover{
    color: #fff;
}